.body {
    background-color: antiquewhite;
    margin-top: 17%;
}

.titulo {
    text-align: center;
}

.tabla {
    border:solid, darkgray;
    margin: auto;
}

#usuario {
    text-align: center;
}

#contraseña {
    text-align: center;
}

.boton {
    width: 100%;
}